* {
    margin: 0;
    padding: 0;
}

body {
    background: #E9ECF3 !important;
}

/* Clearfix */
.clear:before,
.clear:after {
    content:"";
    display:table;
}
.clear:after {
    clear:both;
}
.clear {
    zoom:1;
}
